@model LMSProject.DATA.EF.LessonView

@{
    ViewBag.Title = "Lesson View Details";
    ViewBag.SubTitle = Model.UserDetail.FullName + " completetion of lesson " + Model.Lesson.LessonTitle;
}

<div class="myContainer">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.SubTitle</h4>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Date completed
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewId }, new { @class = "btn myPrimary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton leftMarge" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
        }

    </p>
</div>