@model LMSProject.DATA.EF.UserDetail
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details: " + Model.FirstName + " " + Model.LastName;
}

<div class="myContainer">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || Model.UserId == User.Identity.GetUserId())
    {
        <h2>@ViewBag.Title</h2>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
        </div>
        @*TODO 2.Awesome: add a .Where(x => x.datecompleted.year == datetime.now.year)*@
        <!-- #region Text based course completions-->

        if (Model.CourseCompletions.Count > 0 && Model.CourseCompletions.Count < 6)
        {
            <div>
                @if (User.IsInRole("User"))
                {
                    <p>You have completed <b>@Html.DisplayFor(model => model.CourseCompletions.Count)</b> courses. You must complete <b>6</b> courses this year for your Continuing Education. </p>
                }
                else
                {
                    <p>@Html.DisplayFor(model => model.FullName) has completed <b>@Html.DisplayFor(model => model.CourseCompletions.Count)</b> courses. They must complete <b>6</b> courses this year for your Continuing Education. </p>
                }
            </div>
        }
        else if (Model.CourseCompletions.Count == 6)
        {
            <div>
                @if (User.IsInRole("User"))
                {

                    <p>You have completed @Html.DisplayFor(model => model.CourseCompletions.Count) courses. Congratulations on your Continuing Education completion. </p>
                }
                else
                {
                    <p>@Html.DisplayFor(model => model.FullName) has completed @Html.DisplayFor(model => model.CourseCompletions.Count) courses. They have completed all required Continuing Education courses for this year.</p>
                }
            </div>
        }
        else if (Model.CourseCompletions.Count >= 6)
        {
            <div>
                @if (true)
                {
                    <p>You have completed @Html.DisplayFor(model => model.CourseCompletions.Count) courses. You only had to complete 6 for the year, what are you doing? </p>
                }
                else
                {
                    <p>@Html.DisplayFor(model => model.FullName) has completed @Html.DisplayFor(model => model.CourseCompletions.Count) courses. They only had to complete 6 this year, it is not clear what they are doing.</p>
                }

            </div>
        }
        <!-- #endregion -->

        //Lessons Completed table and Courses Completed table
        if (Model.CourseCompletions.Count > 0)
        {

        
        <h4>Courses Completed</h4>
        <table class="table data-table table-striped">
            <tr>
                <th>
                    Courses Completed
                </th>
                <th>
                    Date Completed
                </th>
            </tr>
            @foreach (var item in Model.CourseCompletions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                </tr>
            }
        </table>
        <h4>Lessons Viewed</h4>
        <table class="table data-table table-striped">
            <tr>
                <th>
                    Lessons Viewed
                </th>
                <th>
                    Course
                </th>
                <th>
                    Date Viewed
                </th>
            </tr>
            @foreach (var item in Model.LessonViews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.Cours.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateViewed)
                    </td>
                </tr>
            }
        </table>
        }
        <p>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn myPrimary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton leftMarge" })
                </div>
                <br />
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
            }

        </p>
    }
    else
    {
        <h2>Welcome to one of our many details' pages.</h2>
        <h4>You do not currently have the status to see a user's information.</h4>
        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
        </div>
    }
</div>