@model LMSProject.DATA.EF.UserDetail
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details: " + Model.FirstName + " " + Model.LastName;
}

<div class="myContainer">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || Model.UserId == User.Identity.GetUserId())
    //Model.Where(x => x.UserId == User.Identity.GetUserId())
    {
        <h2>@ViewBag.Title</h2>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>
        </div>
        @*@foreach (var item in )
        {

        }*@


        <p>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn myPrimary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton leftMarge" })
                </div>
                <br />
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
            }

        </p>
    }
    else
    {
        <h2>Welcome to one of our many details' pages.</h2>
        <h4>You do not currently have the status to see a user's information.</h4>
        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
        </div>
    }
</div>