@model LMSProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "Details: " + Model.FirstName + " " + Model.LastName;
}

<div class="myContainer">
    <h2>@ViewBag.Title</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class= "btn myPrimary"}) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
    </p>
</div>