@model IEnumerable<LMSProject.DATA.EF.UserDetail>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Users";
}

<div class="myContainer" style="overflow-x:auto;">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {

        if (User.IsInRole("Admin"))
        {
            <p>
                <a href="@Url.Action("Register","Account")" class="btn myPrimary">Create New</a>
                @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn myPrimary" })*@
            </p>
        }

        <table class="table data-table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details/" + item.UserId, "UserDetails")">@Html.DisplayFor(modelItem => item.FullName)</a>
                        
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit", "UserDetails", new {id = item.UserId})">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "UserDetails", new {id = item.UserId})" class="lgScreenlftMarge">
                                <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "UserDetails", new {id = item.UserId})" class="lgScreenlftMarge">
                                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "UserDetails", new {id = item.UserId})" class="lgScreenlftMarge">
                                <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>
            Unless you are a manager or admin, you can only see your own data.
        </p>
        <table class="table data-table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Where(x => x.UserId == User.Identity.GetUserId()))
            {
               <tr>
                   <td>
                       @Html.DisplayFor(modelitem => item.FullName)
                   </td>
                   <td>
                       <a href="@Url.Action("Details", "UserDetails", new {id = item.UserId})" class="lgScreenlftMarge">
                           <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                       </a>
                   </td>
               </tr>
            }
        </table>
    }

    <div>
        <a href="@Url.Action("Index", "Home")" class="btn myBackButton">Back to Home page</a>
    </div>

</div>