@model IEnumerable<LMSProject.DATA.EF.Course>

@{
    ViewBag.Title = "Inactive Courses Index";
}

<div class="myContainer" style="overflow-x:auto;">
    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Back to Active Class Index", "Index", null, new { @class = "btn myBackButton" })
    </p>
    <table class="table data-table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details/" + item.CourseId, "Courses")">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Courses", new { id = item.CourseId })">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Details", "Courses", new { id = item.CourseId })" class="lgScreenlftMarge">
                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Courses", new { id = item.CourseId })" class="lgScreenlftMarge">
                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    } else
    {
        <div>
            <p>You must be logged in to see this table.</p>
        </div>
    }
</div>