@model IEnumerable<LMSProject.DATA.EF.Course>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Courses";
}

<div class="myContainer" style="overflow-x:auto;">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn myPrimary" })
            @Html.ActionLink("View Inactive", "InactiveIndex", null, new { @class = "btn myDanger leftMarge" })
        </p>
    }
    <table class="table data-table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            @if (User.IsInRole("User"))
            {
                <th class="myCenterClass">
                    Completed
                </th>
            }
            <th class="myCenterClass">
                Lessons in Course
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details/" + item.CourseId, "Courses")">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </a>
                </td>
                @if (User.IsInRole("User"))
                {
                    <td class="myCenterClass">
                        @if (item.CourseCompletions.Where(x => x.UserDetail.UserId == User.Identity.GetUserId()).Count() > 0)
                        {
                            <i class="fa fa-check-circle-o"></i>
                        }
                    </td>
                }
                <td class="myCenterClass">
                    @item.Lessons.Count()
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "Courses", new { id = item.CourseId })">
                            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                        </a>
                        <a href="@Url.Action("Details", "Courses", new { id = item.CourseId })" class="lgScreenlftMarge">
                            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Courses", new { id = item.CourseId })" class="lgScreenlftMarge">
                            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Details", "Courses", new { id = item.CourseId })">
                            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                        </a>
                    }

                </td>
            </tr>
        }

    </table>
</div>