@model LMSProject.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Course Completion - Details";
    ViewBag.SubTitle = Model.UserDetail.FullName + " - " + Model.Cours.CourseName;
}

<div class="myContainer">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.SubTitle</h4>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Date Completed
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCompleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cours.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCompletionId }, new { @class = "btn myPrimary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton leftMarge" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn myBackButton" })
        }

    </p>
</div>